In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [3]:
df = pd.read_csv('medical_dataset.csv')
df.head(10)

,patient_id,age,sex,TSH,Free_T4,Free_T3,Cortisol,Adrenaline,Noradrenaline,Estrogen,...,FSH,Prolactin,Insulin,Leptin,Glucagon,Hemoglobin,RBC,WBC,Platelets,ESR
0,1,64,F,2.54,15.4,4.89,344.0,40.6,382.0,16.5,...,115.3,11.6,76.5,22.57,170.0,141.0,4.09,7.9,298.0,10.0
1,2,31,M,1.16,19.4,7.93,378.0,73.7,488.0,11.9,...,5.6,9.5,12.2,2.39,80.0,159.0,5.10,7.4,286.0,7.0
2,3,26,M,2.42,13.0,5.21,297.0,50.8,175.0,24.6,...,8.5,10.4,8.0,2.52,105.0,151.0,5.00,7.4,298.0,2.0
3,4,35,F,3.00,12.6,3.95,234.0,96.5,224.0,124.4,...,8.7,7.3,12.9,5.83,79.0,143.0,4.67,12.2,390.0,21.0
4,5,30,F,0.25,52.9,8.21,976.0,160.8,882.0,162.5,...,6.3,23.0,39.8,27.25,147.0,138.0,4.19,9.1,276.0,10.0
5,6,85,F,3.56,14.5,5.32,602.0,54.9,382.0,14.2,...,129.4,7.9,30.8,29.45,124.0,140.0,5.18,4.9,320.0,15.0
6,7,31,M,2.25,15.6,5.57,715.0,185.2,1138.0,31.3,...,11.8,14.3,24.9,18.08,71.0,159.0,5.19,8.5,361.0,8.0
7,8,47,F,1.66,15.1,4.89,565.0,12.3,527.0,48.1,...,4.2,21.3,16.8,5.05,160.0,149.0,4.82,7.5,276.0,10.0
8,9,20,M,2.37,17.6,7.17,683.0,215.9,874.0,19.9,...,6.2,11.0,17.6,4.34,88.0,129.0,4.51,10.1,275.0,7.0
9,10,62,F,3.00,15.0,5.21,476.0,25.0,511.0,11.4,...,89.9,19.7,11.9,9.36,132.0,150.0,4.46,7.2,264.0,16.0

In [4]:
df.describe()

,patient_id,age,TSH,Free_T4,Free_T3,Cortisol,Adrenaline,Noradrenaline,Estrogen,Progesterone,...,FSH,Prolactin,Insulin,Leptin,Glucagon,Hemoglobin,RBC,WBC,Platelets,ESR
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,45.266000,3.146500,16.66650,5.05323,455.105000,72.500600,530.069000,92.779900,5.309620,...,22.475000,15.308200,21.921700,11.540620,107.745000,137.813000,4.433330,8.064100,275.532000,10.847000
std,288.819436,17.842859,5.314297,6.51126,1.56404,170.106673,53.063529,284.564614,258.978992,22.932144,...,32.257162,17.832412,12.989989,8.846393,36.678185,16.746895,0.530896,3.531378,72.413927,9.178553
min,1.000000,18.000000,0.010000,4.10000,1.53000,101.000000,3.000000,21.000000,2.300000,0.060000,...,0.400000,1.400000,0.800000,0.670000,16.000000,80.000000,2.880000,2.900000,70.000000,0.000000
25%,250.750000,30.000000,1.567500,13.60000,4.16750,334.750000,38.475000,328.750000,21.400000,0.520000,...,5.400000,9.700000,13.700000,5.420000,85.000000,131.000000,4.180000,5.975000,227.000000,6.000000
50%,500.500000,44.000000,2.310000,16.00000,4.96500,415.000000,51.750000,467.000000,31.100000,0.760000,...,8.100000,12.600000,19.000000,8.550000,102.000000,139.000000,4.495000,7.100000,273.000000,8.000000
75%,750.250000,58.000000,2.960000,18.50000,5.74250,546.000000,80.350000,689.000000,73.575000,1.180000,...,13.625000,16.400000,27.100000,15.170000,123.000000,149.000000,4.792500,9.100000,320.000000,12.000000
max,1000.000000,89.000000,52.890000,59.50000,14.54000,1030.000000,262.500000,1424.000000,2969.600000,264.360000,...,129.500000,203.300000,79.300000,54.600000,249.000000,177.000000,5.650000,24.800000,564.000000,60.000000

In [5]:
output_dir = 'plots'
os.makedirs(output_dir, exist_ok=True)
for column in df.columns:
    plt.figure(figsize=(8, 6))
    if df[column].dtype == 'object' or len(df[column].unique()) < 10:
        sns.countplot(data=df, x=column)
    else:
        sns.histplot(data=df, x=column, kde=True)

    plt.title(f'Distribution of {column}')
    plt.savefig(os.path.join(output_dir, f'{column}_distribution.png'))
    plt.close()

In [13]:
print("Dataset size:")
print(len(df))
print("Missing values:")
print(df.isnull().sum())

Dataset size:
1000
Missing values:
patient_id        0
age               0
sex               0
TSH               0
Free_T4           0
Free_T3           0
Cortisol          0
Adrenaline        0
Noradrenaline     0
Estrogen          0
Progesterone      0
Testosterone      0
LH                0
FSH               0
Prolactin         0
Insulin           0
Leptin            0
Glucagon          0
Hemoglobin        0
RBC               0
WBC               0
Platelets         0
ESR               0
age_group        14
dtype: int64

In [9]:

print("\nAge group distribution:")
df['age_group'] = pd.cut(df['age'], bins=[18, 30, 50, 70, 100], labels=['18-29', '30-49', '50-69', '70+'])
print(df['age_group'].value_counts().sort_index())
print("\nGender distribution:")
print(df['sex'].value_counts())

Age group distribution:
age_group
18-29    244
30-49    373
50-69    279
70+       90
Name: count, dtype: int64

Gender distribution:
sex
F    586
M    414
Name: count, dtype: int64